* {
  transition: all 0.6s;
}
.App {
  text-align: center;
}

.menu,
.quiz,
.endquiz {
  width: 500px;
  height: 550px;
  margin: auto;
  background-color: #61dafb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 15px;
}

.menu button {
  margin: auto;
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.quiz ul {
  list-style-type: none;
  padding: 0;
}

.selected {
  background-color: red !important;
}

.quiz ul li {
  margin: 10px auto;
  width: 45%;
  background-color: beige;
  padding: 0.3rem;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
}

.quiz button, .endquiz button{
  margin: auto;
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* .quiz ul li:hover{
  background-color: aqua;
} */
